Az204api/LogicApp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_az204_name": {
      "defaultValue": "az204",
      "type": "String"
    },
    "sites_az204_externalid": {
      "defaultValue": "/subscriptions/82b5bb8a-2ea2-454a-80f5-cbada80b910c/resourceGroups/az204/providers/Microsoft.Web/sites/az204",
      "type": "String"
    },
    "connections_documentdb_1_externalid": {
      "defaultValue": "/subscriptions/82b5bb8a-2ea2-454a-80f5-cbada80b910c/resourceGroups/az204/providers/Microsoft.Web/connections/documentdb-1",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_az204_name')]",
      "location": "eastus",
      "tags": {
        "displayName": "LogicApp"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "totalAmount": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "RequestApproval": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "function": {
                      "id": "[concat(parameters('sites_az204_externalid'), '/functions/RequestApproval')]"
                    },
                    "queries": {
                      "date": "@triggerBody()?['date']",
                      "id": "@triggerBody()?['id']"
                    }
                  }
                },
                "Response": {
                  "runAfter": {
                    "RequestApproval": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "body": "@body('RequestApproval')",
                    "statusCode": "@outputs('RequestApproval')['statusCode']"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Execute_stored_procedure": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "body": "[[\"@{triggerBody()?['id']}\",1]",
                      "headers": {
                        "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['date']}\""
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/dbs/@{encodeURIComponent('Az204')}/colls/@{encodeURIComponent('Orders')}/sprocs/@{encodeURIComponent('setOrderStatus')}"
                    }
                  },
                  "Response_2": {
                    "runAfter": {
                      "Execute_stored_procedure": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": "@body('Execute_stored_procedure')",
                      "statusCode": 200
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "greater": [
                      "@triggerBody()?['totalAmount']",
                      1000
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "connectionId": "[parameters('connections_documentdb_1_externalid')]",
                "connectionName": "documentdb-1",
                "id": "/subscriptions/82b5bb8a-2ea2-454a-80f5-cbada80b910c/providers/Microsoft.Web/locations/eastus/managedApis/documentdb"
              }
            }
          }
        }
      }
    }
  ]
}