Scripts/ArmTemplates/template.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {

    "acrName": {
      "type": "String"
    },
    "acrSku": {
      "defaultValue": "Basic",
      "type": "String",
      "allowedValues": [
        "Basic",
        "Standard"
      ]
    },
    "kvName": {
      "type": "String"
    },
    "cosmosDbAccountName": {
      "type": "String"
    },
    "databaseName": {
      "type": "String"
    },
    "storageAccountName": {
      "type": "String"
    },
    "functionsServicePlanName": {
      "type": "String"
    },
    "functionsName": {
      "type": "String"
    },
    "userId": {
      "type": "String"
    },
    "insightsName": {
      "type": "String"
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "az204logic123"
    },
    "documentDbConnection": {
      "defaultValue": "documentdb",
      "type": "String"
    }
  },
  "variables": {
    "databaseFullName": "[concat(parameters('cosmosDbAccountName'),'/',parameters('databaseName'))]",
    "connectionStringSettingName": "connectionString",
    "documentdbConnectionId": "[concat('/subscriptions/82b5bb8a-2ea2-454a-80f5-cbada80b910c/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',parameters('documentDbConnection'))]",
    "functionsConnectionId": "[concat('/subscriptions/82b5bb8a-2ea2-454a-80f5-cbada80b910c/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/sites/',parameters('functionsName'))]"
  },
  "resources": [
    {
      "name": "[parameters('acrName')]",
      "type": "Microsoft.ContainerRegistry/registries",
      "apiVersion": "2019-05-01",
      "location": "[resourceGroup().location]",
      "sku": {
        "name": "[parameters('acrSku')]"
      },
      "resources": [
      ]
    },
    {
      "type": "Microsoft.DocumentDB/databaseAccounts",
      "apiVersion": "2020-03-01",
      "name": "[parameters('cosmosDbAccountName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "defaultExperience": "Core (SQL)",
        "hidden-cosmos-mmspecial": "",
        "CosmosAccountType": "Non-Production"
      },
      "kind": "GlobalDocumentDB",
      "properties": {
        "enableFreeTier": true,
        "accessPolicies": [
          {
            "tenantId": "[subscription().tenantId]",
            "objectId": "string",
            "applicationId": "string",
            "permissions": {
              "keys": [
                "string"
              ],
              "secrets": [
                "string"
              ],
              "certificates": [
                "string"
              ],
              "storage": [
                "string"
              ]
            }
          }
        ],
        "publicNetworkAccess": "Enabled",
        "enableAutomaticFailover": false,
        "enableMultipleWriteLocations": false,
        "isVirtualNetworkFilterEnabled": false,
        "virtualNetworkRules": [
        ],
        "disableKeyBasedMetadataWriteAccess": false,
        "databaseAccountOfferType": "Standard",
        "consistencyPolicy": {
          "defaultConsistencyLevel": "Session",
          "maxIntervalInSeconds": 5,
          "maxStalenessPrefix": 100
        }
      }
    },
    {
      "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
      "apiVersion": "2020-03-01",
      "name": "[variables('databaseFullName')]",
      "dependsOn": [
        "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName'))]"
      ],
      "properties": {
        "resource": {
          "id": "[parameters('databaseName')]"
        },
        "options": {
        }
      }
    },
    {
      "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
      "apiVersion": "2020-03-01",
      "name": "[concat(variables('databaseFullName'), '/Coffees')]",
      "dependsOn": [
        "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('cosmosDbAccountName'), parameters('databaseName'))]",
        "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName'))]"
      ],
      "properties": {
        "resource": {
          "id": "Coffees",
          "indexingPolicy": {
            "indexingMode": "consistent",
            "automatic": true,
            "includedPaths": [
              {
                "path": "/*"
              }
            ],
            "excludedPaths": [
              {
                "path": "/\"_etag\"/?"
              }
            ]
          },
          "partitionKey": {
            "paths": [
              "/roastery"
            ],
            "kind": "Hash"
          },
          "uniqueKeyPolicy": {
            "uniqueKeys": [
            ]
          },
          "conflictResolutionPolicy": {
            "mode": "LastWriterWins",
            "conflictResolutionPath": "/_ts"
          }
        },
        "options": {
        }
      }
    },
    {
      "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
      "apiVersion": "2020-03-01",
      "name": "[concat(variables('databaseFullName'), '/CoffeesBrewing')]",
      "dependsOn": [
        "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('cosmosDbAccountName'), parameters('databaseName'))]",
        "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName'))]"
      ],
      "properties": {
        "resource": {
          "id": "CoffeesBrewing",
          "indexingPolicy": {
            "indexingMode": "consistent",
            "automatic": true,
            "includedPaths": [
              {
                "path": "/*"
              }
            ],
            "excludedPaths": [
              {
                "path": "/\"_etag\"/?"
              }
            ]
          },
          "partitionKey": {
            "paths": [
              "/brewingMethod"
            ],
            "kind": "Hash"
          },
          "uniqueKeyPolicy": {
            "uniqueKeys": [
            ]
          },
          "conflictResolutionPolicy": {
            "mode": "LastWriterWins",
            "conflictResolutionPath": "/_ts"
          }
        },
        "options": {
        }
      }
    },
    {
      "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
      "apiVersion": "2020-03-01",
      "name": "[concat(variables('databaseFullName'), '/CoffeesOrigin')]",
      "dependsOn": [
        "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('cosmosDbAccountName'), parameters('databaseName'))]",
        "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName'))]"
      ],
      "properties": {
        "resource": {
          "id": "CoffeesOrigin",
          "indexingPolicy": {
            "indexingMode": "consistent",
            "automatic": true,
            "includedPaths": [
              {
                "path": "/*"
              }
            ],
            "excludedPaths": [
              {
                "path": "/\"_etag\"/?"
              }
            ]
          },
          "partitionKey": {
            "paths": [
              "/origin"
            ],
            "kind": "Hash"
          },
          "uniqueKeyPolicy": {
            "uniqueKeys": [
            ]
          },
          "conflictResolutionPolicy": {
            "mode": "LastWriterWins",
            "conflictResolutionPath": "/_ts"
          }
        },
        "options": {
        }
      }
    },
    {
      "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
      "apiVersion": "2020-03-01",
      "name": "[concat(variables('databaseFullName'), '/Orders')]",
      "dependsOn": [
        "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('cosmosDbAccountName'), parameters('databaseName'))]",
        "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('cosmosDbAccountName'))]"
      ],
      "properties": {
        "resource": {
          "id": "Orders",
          "indexingPolicy": {
            "indexingMode": "consistent",
            "automatic": true,
            "includedPaths": [
              {
                "path": "/*"
              }
            ],
            "excludedPaths": [
              {
                "path": "/\"_etag\"/?"
              }
            ]
          },
          "partitionKey": {
            "paths": [
              "/date"
            ],
            "kind": "Hash"
          },
          "uniqueKeyPolicy": {
            "uniqueKeys": [
            ]
          },
          "conflictResolutionPolicy": {
            "mode": "LastWriterWins",
            "conflictResolutionPath": "/_ts"
          }
        },
        "options": {
        }
      }
    },
    {
      "name": "[parameters('storageAccountName')]",
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2018-07-01",
      "location": "[resourceGroup().location]",
      "kind": "StorageV2",
      "sku": {
        "name": "Standard_LRS",
        "tier": "Standard"
      },
      "properties": {
        "accessTier": "Hot"
      },
      "resources": [
        {
          "name": "[concat('default/', 'coffees')]",
          "type": "blobServices/containers",
          "apiVersion": "2018-07-01",
          "dependsOn": [
            "[parameters('storageAccountName')]"
          ]
        }
      ]
    },
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2018-02-01",
      "name": "[parameters('functionsServicePlanName')]",
      "location": "[resourceGroup().location]",
      "sku": {
        "name": "Y1",
        "tier": "Dynamic",
        "size": "Y1",
        "family": "Y",
        "capacity": 0
      },
      "kind": "functionapp",
      "properties": {
        "perSiteScaling": false,
        "maximumElasticWorkerCount": 1,
        "isSpot": false,
        "reserved": false,
        "isXenon": false,
        "hyperV": false,
        "targetWorkerCount": 0,
        "targetWorkerSizeId": 0
      }
    },
    {
      "type": "Microsoft.Web/sites",
      "apiVersion": "2019-08-01",
      "name": "[parameters('functionsName')]",
      "kind": "functionapp",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]",
        "[resourceId('Microsoft.Web/serverfarms', parameters('functionsServicePlanName'))]"
      ],
      "properties": {
        "name": "[parameters('functionsName')]",
        "siteConfig": {
          "appSettings": [
            {
              "name": "AzureWebJobsStorage",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', parameters('storageAccountName'), ';AccountKey=', listKeys(parameters('storageAccountName'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "databaseName",
              "value": "[parameters('databaseName')]"
            },
            {
              "name": "inputCollection",
              "value": "Coffees"
            },
            {
              "name": "ordersCollection",
              "value": "Orders"
            },
            {
              "name": "outputCollectionBrewing",
              "value": "CoffeesBrewing"
            },
            {
              "name": "outputCollectionOrigin",
              "value": "CoffeesOrigin"
            },
            {
              "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', parameters('storageAccountName'), ';AccountKey=', listKeys(parameters('storageAccountName'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "WEBSITE_CONTENTSHARE",
              "value": "[toLower(parameters('functionsName'))]"
            },
            {
              "name": "WEBSITE_RUN_FROM_PACKAGE",
              "value": "1"
            },
            {
              "name": "FUNCTIONS_WORKER_RUNTIME",
              "value": "dotnet"
            },
            {
              "name": "FUNCTIONS_EXTENSION_VERSION",
              "value": "~3"
            }
          ]
        },
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('functionsServicePlanName'))]",
        "clientAffinityEnabled": false
      }
    },
    {
      "name": "[parameters('kvName')]",
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2018-02-14",
      "location": "[resourceGroup().location]",
      "properties": {
        "tenantId": "[subscription().tenantId]",
        "sku": {
          "family": "A",
          "name": "Standard"
        },
        "accessPolicies": [
          {
            "tenantId": "[subscription().tenantId]",
            "objectId": "[parameters('userId')]",
            "permissions": {
              "keys": [
                "all"
              ],
              "secrets": [
                "all"
              ],
              "certificates": [
                "all"
              ],
              "storage": [
                "all"
              ]
            }
          }
        ],
        "enabledForDeployment": false,
        "enabledForDiskEncryption": false,
        "enabledForTemplateDeployment": true,
        "enableSoftDelete": true
      },
      "resources": [
      ]
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "name": "[concat(parameters('kvName'), '/', variables('connectionStringSettingName'))]",
      "apiVersion": "2019-09-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', parameters('kvName'))]"
      ],
      "properties": {
        "value": "[concat('AccountEndpoint=https://',parameters('cosmosDbAccountName'),'.documents.azure.com:443/;AccountKey=',listKeys(parameters('cosmosDbAccountName'), '2020-03-01').primaryMasterKey,';')]"
      }
    },
    {
      "type": "microsoft.insights/components",
      "apiVersion": "2015-05-01",
      "name": "[parameters('insightsName')]",
      "location": "[resourceGroup().location]",
      "kind": "web",
      "properties": {
        "Application_Type": "web",
        "Flow_Type": "Redfield",
        "Request_Source": "IbizaAIExtension"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('documentDbConnection')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('documentDbConnection'))]"
        },
        "displayName": "[parameters('documentDbConnection')]",
        "parameterValues": {
          "databaseAccount": "[parameters('cosmosDbAccountName')]",
          "accessKey": "[listKeys(parameters('cosmosDbAccountName'), '2020-03-01').primaryMasterKey]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('documentDbConnection'))]"
      ],
      "tags": {
        "displayName": "LogicApp"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {
              },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "totalAmount": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "RequestApproval": {
                  "runAfter": {
                  },
                  "type": "Function",
                  "inputs": {
                    "function": {
                      "id": "[concat(variables('functionsConnectionId'), '/functions/RequestApproval')]"
                    },
                    "queries": {
                      "date": "@triggerBody()?['date']",
                      "id": "@triggerBody()?['id']"
                    }
                  }
                },
                "Response": {
                  "runAfter": {
                    "RequestApproval": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "body": "@body('RequestApproval')",
                    "statusCode": "@outputs('RequestApproval')['statusCode']"
                  }
                }
              },
              "runAfter": {
              },
              "else": {
                "actions": {
                  "Execute_stored_procedure": {
                    "runAfter": {
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": "[[\"@{triggerBody()?['id']}\",1]",
                      "headers": {
                        "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['date']}\""
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/dbs/@{encodeURIComponent('Az204')}/colls/@{encodeURIComponent('Orders')}/sprocs/@{encodeURIComponent('setOrderStatus')}"
                    }
                  },
                  "Response_2": {
                    "runAfter": {
                      "Execute_stored_procedure": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": "@body('Execute_stored_procedure')",
                      "statusCode": 200
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "greater": [
                      "@triggerBody()?['totalAmount']",
                      1000
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "connectionId": "[variables('documentdbConnectionId')]",
                "connectionName": "[parameters('documentDbConnection')]",
                "id": "[concat('/subscriptions/82b5bb8a-2ea2-454a-80f5-cbada80b910c/providers/Microsoft.Web/locations/',resourceGroup().location, '/managedApis/',parameters('documentDbConnection'))]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
  }
}
